@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    background-image: url("./images/Clip.svg");
    background-repeat: no-repeat;
    background-position: -100px -100px;
    margin: 0;
    padding: 0;
}

.whole-app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/Clip3.svg");
    background-repeat: no-repeat;
    background-size: 300px 900px;
    background-position: right top;
    height: 100vh;
}

.landing-text{
    width: 400px;
    margin-left: 50px;
}

.landing-text h2{
    color: #3D274E;
}

.landing-text p{
    color: darkgrey;
    line-height: 1.5;
}

@media only screen and (max-width: 900px){
    .whole-app{
        flex-direction: column;
        height: auto;
        background-size: 200px 600px;
        background-position: right 200px;
    }
    body{
        background-size: 300px 600px;
    }
    .landing-text{
        margin-top: 20px;
    }
}

@media only screen and (max-width:470px){
    .landing-text{
        width: 300px;
    }
}